<div class="container">
    <h1>Angular2 Material Chips  Component</h1>
    <h4>A Material Chips Component for Angular 2 with no dependencies.</h4>
    <h4><b>by Shootermv Shootermvich</b></h4>
    <a class="btn btn-primary btn-lg" href="https://github.com/shootermv/angular2-material-chips">View on Github</a>

    <br/>
    <br/>
    <br/>
    <div class="row">   
           <material-chips         
           [(ngModel)]="tags" 
           placeholder="Tags" id="post-tags" 
           style="width:100%" 
           (tagsfocusedChange)="tagsFocused=$event"></material-chips>
    </div>
</div>