
.md-chip {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
}
.md-chip-list {
    input {
        border:none; 
        outline:0;
        background:transparent;
    }
   .material-icons{
        height: 15px;
        width: 15px;
        float: right;
        position: relative;
        font-size: 15px;
        border-radius: 10px;
        left: 5px;
        cursor: pointer;
        &:hover{
            background:gray;
            color:black;
        }
   }
}

.md-chip-list {

  padding-bottom:5px;
  box-shadow: 0 1px rgba(0,0,0,0.12);  
}
.md-chip-list.md-focused{
    box-shadow: 0 2px rgba(16, 108, 200,1); 
}
.md-chip {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  border-radius: 16px;
  font-size: 13px;
  line-height: 16px;
   i.md-icon{
     font-family: 'Material Icons'; 
     font-weight: normal;
     font-style: normal;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     cursor:pointer;
     border-radius: 15px;
     &:hover{        
         background:gray;
     }
   }

}
.md-chips-input{
    border:0;   
    box-shadow: 0 1px rgba(0,0,0,0.12);  
    outline:0;
    background:transparent;
}
.md-chips-input:focus{
    box-shadow: 0 2px rgba(16, 108, 200,1); 
    
}